


/* start of the clients page style */

.kards-kontainer {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.kard{
    border-radius:40px;
    padding:5px;
    margin-bottom: 80px;
    display: grid;
    justify-items: center;
    width: 30%;
    min-width: 200px;
    align-content: center;
}
.kard img {
    width: 50%;
    transition:  0.4s ease-in-out; 
    transform-origin: center center; 
}

.kard:hover img {
    transform: scale(1.5);
}

/* end of the clients page style */


/*Features cards*/

.link-container a {
    display: inline-flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.more-feature-card{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*end of features cards styles*/


/*price page styles*/

.price-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faq-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-element{
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 300px;
    width: 50%;
}
/*end of price page styles*/


